
@inject UserManager<ApplicationUser> UserManager;

@if (!User.Identity.IsAuthenticated)
{
<a class="btn btn-outline-light my-2 my-sm-0" asp-controller="Account" asp-action="Login">
    
    <span class="badge badge-success"><h7>Log in</h7> </span>
</a>
    <span style="padding: 5px;"></span>

    <a class="btn btn-outline-light my-2 my-sm-0" asp-controller="Account" asp-action="Register">
      
        <span class="badge badge-info"><h7>Register</h7> </span>
    </a>
}
else
{

    @*User profile section*@
    <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown"
                aria-expanded="false" >
            <span class="badge badge-success"><h7>Hello @UserManager.GetUserName(User)</h7> </span> 
        </button>
        <ul class="dropdown-menu" aria-labelledby="profile-btn">
            <li>
                <a class="dropdown-item" asp-controller="Orders" asp-action="Index">
                    <i class="bi bi-list"></i> <h6>Orders</h6>
                </a>
            </li>

            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Users">
                        <i class="bi bi-people"></i> Users
                    </a>
                </li>
            }
        </ul>
    </div>
    <span style="padding: 5px;"></span>
    <form asp-controller="Account" asp-action="Logout">
        <a href="#" class="btn btn-info btn-danger">
            <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
    </form>
}